.dark-mode {
    background-color: black;
    color: white;
    }
    .dark-mode #newGame {
        background-color: white;
    }
    .dark-mode #pause{
        background-color: white;
    }
    .dark-mode #check{
        background-color: white;
    }
    .dark-mode #levelstatus{
        background-color: white;
    }
    .dark-mode #try{
        color: black;
    }
    .dark-mode td{
        border: 1px solid black;
        color:black;
        
    }
    .dark-mode .Input:hover {
        background-color: rgb(221, 238, 255);
        outline: 0;
    }
    .dark-mode .active {
        background-color: #ccc;
    }
    .dark-mode #toggle-button{
        background-color:white;
    }
    .dark-mode #submitSolution{
        background-color: white;
    }
    .dark-mode #modal-result-message{
        color: black;
    }
